@page
@{
    ViewData["Title"] = "Access Denied";
}
<h1 class="text-danger">@ViewData["Title"]</h1>

<p>
    Sorry, but your account does not have access to that page. If you believe this is a mistake try to logout
    and login again or contact support.
</p>
